<main class="home">
    <section class="container">
        <div class="welcome-section">
            <div class="greeting">
                <p>Welcome,<br><span class="user-name"><%= current_user.name%></span></p>
            </div>
            <div>
                <button class="add-client-btn"><%= link_to "Add client", addclient_path%></button>
            </div>
        </div>
    </section>
     <div class="container">
        <p>Your stats for today</p>
    </div>
    <section class="stats container">
        <div class="user-stats">
        <div class="total-dues stats-box">
            <div class="stat">
                <h1><%= current_user.total_dues%></h1>
            </div>
            <div class="sec-text">
                <p>Total Dues</p>
            </div>
        </div>
        <div class="client-count stats-box">
            <div class="stat">
                <h1><%= current_user.client_count%></h1>
            </div>
            <div class="sec-text">
                <p>Clients Due</p>
            </div>
        </div>
        <div class="collection-rate stats-box">
            <div class="stat">
                <h1><%= current_user.total_dues%></h1>
            </div>
            <div class="sec-text">
                <p>Collection Rate</p>
            </div>
        </div>
        </div>
    </section>

    <section class="clients-due container">
        <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <p>Name</p>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <p>Phone No</p>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <p>Amount Due</p>
            </div>
        </div>
        <% current_user.loans_due.each do |client|%>
            <div class="row client">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <p><%= client.name%></p>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <p><%= client.phone_no  %></p>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <p><%= client.installment_amount%></p>
                </div>
            </div>
        <% end %>
    </section>
</main>




