
<div class="signup-form">
    <h2>Create Account</h2>
    <%= form_for(@ro, url: signup_path) do |f|%>
        <%= render 'shared/error_messages'%>
        <div class="form-group">
            <div class=input-group>
                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                <%= f.text_field :name, placeholder: "Name", class: "form-control"%>
            </div>
        </div>
        <div class="form-group">
            <div class=input-group>
                <span class="input-group-addon"><i class="fa fa-paper-plane"></i></span>
                <%= f.text_field :email, placeholder: "Email", class: "form-control"%>
            </div>
        </div>
        <div class="form-group">
            <div class=input-group>
                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                <%= f.password_field :password, placeholder: "Password", class: "form-control"%>
            </div>
        </div>
        <div class="form-group">
            <div class=input-group>
                <span class="input-group-addon">
                    <i class="fa fa-lock"></i>
                    <i class="fa fa -check"></i>
                </span>
                <%= f.password_field :password_confirmation, placeholder: "Confirm Password", class: "form-control"%>
            </div>
        </div>
        <div class="form-group">
            <%= f.submit "Sign Up", class: "btn btn-primary btn-block btn-lg"%>
        </div>
        <p class="small text-center">By clicking the sign up button,you agree to out <br><a href="#">Terms &amp; Conditions</a>,
        and <a href="#">Privacy Policy</a>.</p>
    <% end %>
    <div class="text-center">
        Already have an account?
        <a><%= link_to "Login here", login_path%></a>
    </div>
</div>
