
  <div class="modal-content">
    
    <span class="close-modal">&times;</span>
    <p class="title">Client payment status</p>
    <%= form_with model: @loan, local: true  do |form| %>
        <div class="payment-status">
            <div>
                <%= form.label "Full payment" %>
                <%= form.check_box :full_payment %>
            </div>
            <div>
                <p>For partial payment, enter amount paid</p>
                <%= form.text_field :amount, placeholder: 'Kshs', id: 'partial-payment'%>
            </div>
                <%= form.submit "Send", class: "modal-btn"%>
        </div>
    <% end %>
    
  </div>
