<section class="container" id="personal-information">
    <div class="inner-wrapper">
        <div class="personal-info">
            <h3>Personal Information</h3>
            <small>Edit client's personal details</small>
            <%= form_for client ,remote: true,class: "client-page-forms", id: "edit-client" do |form| %>
                <div>
                    <%= form.label :name , "First name", class: "client-label"%>
                    <%= form.text_field :name , class: "client-input"%>
                </div>
                <div>
                    <%= form.label :name , "Last Name", class: "client-label"%>
                    <%= form.text_field :name , class: "client-input"%> 
                </div>
                <div>
                    <%= form.label :phone_no , "Phone Number", class: "client-label"%>
                    <%= form.text_field :phone_no, class: "client-input" %> 
                </div>
                 <%= form.submit "Save Changes", class: "client-btn btn"%>
            <% end %>
           
        </div>
        <div class="create-new-loan">
            <h3>Add new loan</h3>
            <%= form_with model: ShortLoan.new ,local: true ,class: "client-page-forms" do |form| %>
                <%= form.hidden_field :relationship_officer_id , value: current_user.id %>
                <%= form.hidden_field :client_id , value: client.id%>

                <div>
                    <%= form.label :loan_amount , "Loan Amount", class: "client-label"%>
                    <%= form.text_field :loan_amount, class: "client-input"%>
                </div>
                <div>
                    <%= form.label :loan_duration , "Loan Duration", class: "client-label"%>
                    <%= form.select :loan_duration, [5,7,10], class: "client-input" %> 
                </div>
                <div>
                    <%= form.label :instalment_amount , "Instalment Amount", class: "client-label"%>
                    <%= form.text_field :instalment_amount, class: "client-input" %> 
                </div>
                <div>
                    <%= form.label :due_date, "Due Date", class: "client-label"%>
                    <i class="fa fa-calendar"></i>
                    <%= form.text_field :due_date,class: "date client-input"%>
                            
                </div>
                 <%= form.submit "Add", class: "client-btn btn"%>
            <% end %>
        </div>
    </div>
</section>