<section class="container" id="personal-information">
    <div class="inner-wrapper">
        <div class="personal-info">
            <h3>Personal Information</h3>
            <small>Edit client's personal details</small>
            <%= form_for client ,class: "client-page-forms" do |form| %>
                <div>
                    <%= form.label :name , "First name", class: "client-label"%>
                    <%= form.text_field :name , class: "client-input"%>
                </div>
                <div>
                    <%= form.label :name , "Last Name", class: "client-label"%>
                    <%= form.text_field :name , class: "client-input"%> 
                </div>
                <div>
                    <%= form.label :phone_no , "Phone Number", class: "client-label"%>
                    <%= form.text_field :phone_no, class: "client-input" %> 
                </div>
                 <%= form.submit "Save Changes", class: "client-btn btn"%>
            <% end %>
           
        </div>
        <div class="create-new-loan">
            <h3>Add new loan</h3>
            <%= form_for client ,class: "client-page-forms" do |form| %>
                <div>
                    <%= form.label :loan_amount , "Loan Amount", class: "client-label"%>
                    <%= form.text_field :loan_duration, class: "client-input"%> <!--add loan_amount coloumn to db remove loan_duration is just a place holder> <-->
                </div>
                <div>
                    <%= form.label :loan_duration , "Loan Duration", class: "client-label"%>
                    <%= form.text_field :loan_duration, class: "client-input" %> 
                </div>
                <div>
                    <%= form.label :installment_amount , "Instalment Amount", class: "client-label"%>
                    <%= form.text_field :installment_amount, class: "client-input" %> 
                </div>
                 <%= form.submit "Add", class: "client-btn btn"%>
            <% end %>
           
        </div>
    </div>
</section>