<nav class="top-navbar container">
    <div class= "main-navbar">
        <% if logged_in?%>
         <%= link_to "LOGO", home_path, class: "navbar-brand"%> 
            <div class= "search-form">
                
                <%= form_with url: search_path, method: :get, local: true, id: "search" do |form| %>
                    <div class="input">
                        <%= form.text_field :phone_no, placeholder: 'Enter client number'%>
                        <span class="input-group-search"><i class="fa fa-search"></i></span>
                    </div>
                <% end %>
                <%= image_tag("menu.svg", alt: "open navigation", class: "mobile-cta", id: "menu")%>
            </div>
            <div id="mobile-nav" class="mobile-menu">
                <div class="navigation-links">
                    <%= image_tag("exit.svg", alt: "close navigation", class: "mobile-menu-exit", id: "close-menu")%>
                    <ul>
                        <li><%= link_to "Home", home_path %></li>
                        <li><%= link_to "Profile", profile_path %></li>
                        <li><%= link_to "Help", help_path %></li>
                        <li><%= link_to "Sign Out", logout_path, method: "delete"%></li>
                    </ul>
                </div>
             </div>
        <% else %>
            <div class="container">
            <div class="nav-sign">
                <div class="nav-sign-up">
                    <p class="navbar-brand-signup-page"> LOGO </p>
                    <div>
                        <%= image_tag("menu.svg", alt: "open navigation", class: "mobile-cta", id: "menu-sign-up")%>
                    </div>
                </div> 
                <div id="mobile-nav-signup" class="mobile-menu">
                    <div class="navigation-links">
                        <%= image_tag("exit.svg", alt: "close navigation", class: "mobile-menu-exit", id: "close-menu-signup")%>
                        <ul>
                            <li><%= link_to "About", "#"%></li>
                            <li><%= link_to "Help", "#"%></li>
                            <li><%= link_to "Sign In", login_path%></li>
                        </ul>
                    </div>
                </div> 
            </div> 
            </div>
           
        <% end %>
    </div>
</nav>