<main class="container" id="loan-info">
    <div class="inner-wrapper">
    
        <div class="loan-schedule">
            <h3>Loan Schedule</h3>
            <table>
                <tr>
                    <th>Instalment</th>
                    <th>Instalment Dates</th>
                </tr>
                <%client.loan_schedule.each_with_index do |date, idx| %>
                    <tr>
                        <td><%= idx + 1 %></td>
                        <td><%= client.format_date(date) %></td> 
                    </tr>

                <% end %>
            </table>
        </div>
        <div class="other-loan-info">
            <h3>Loan Information</h3>
            <p>Initial Loan Balance: <%= client.installment_amount * client.loan_duration%></p>
            <div>
                <p>OLB</p>
                <p>pie chart with percentage in middle</p>
            </div>
            <p>instalment Amount: <%= client.installment_amount%></p>
            <p>Loan Duration: <%= client.loan_duration%></p>
        </div>
    </div>
</main>