
<main class="container" id="loan-info">
    <div class="inner-wrapper">
    
        <div class="loan-schedule">
            <h3>Loan Schedule</h3>
            <table>
                <tr>
                    <th>Instalment</th>
                    <th>Instalment Dates</th>
                </tr>
                <%@short_loan.loan_schedule.each_with_index do |element, idx| %>
                    <tr>
                        <td><%= idx + 1 %></td>
                        <td><%= @client.format_date(element.first) %></td> 
                    </tr>

                <% end %>
            </table>
        </div>
        <div class="other-loan-info">
            <h3>Loan Information</h3>
            <table>
                <tr>
                    <td>Initial Loan Balance</td>
                    <td><%=@short_loan.initial_balance %></td>
                </tr>
                <tr>
                    <td>Outstanding Loan Balance</td>
                    <td><%= @short_loan.outstanding_loan_balance%></td>
                </tr>
                <tr>
                    <td>Instalment Amount</td>
                    <td> <%= @short_loan.instalment_amount%></td>
                </tr>
                <tr>
                    <td>Loan Duration</td>
                    <td><%= @short_loan.loan_duration%></td>
                </tr>
            </table>
        </div>
    </div>
</main>