
<div class="container">
    <div class="client-form container">
        <h3>Create new client</h3>
        <%= form_for(@client) do |f| %>
        <div class="form-client-add-page">
            <div class="right-section"> 
                <div class="add-client-form">
                    <div>
                        <%= f.label :name, "Client Name", class: "client-label"%>
                        <%= f.text_field :name, class: "client-input" %>
                    </div>
                </div>
                <div class="add-client-form">
                    <div>
                        <%= f.label :phone_no, "Phone Number", class: "client-label"%>
                        <%= f.text_field :phone_no, class: "client-input"%>
                    </div>
                </div>
            </div> 
            <div class="left-section">
                
                <%= f.fields_for :short_loans do |loan_form| %>
                    <div class="errors">
                        <%= loan_form.object.errors.full_messages.join(", ") if loan_form.object.errors.any? %>
                    </div>
                    <%= loan_form.hidden_field :relationship_officer_id , value: current_user.id%>
                    <div class="add-client-form">
                        <div>
                            <%= loan_form.label :loan_amount, "Loan Amount", class: "client-label"%>
                            <i class="fa fa-calendar"></i>
                            <%= loan_form.text_field :loan_amount, class: "client-input"%>
                        </div>
                    </div>

                    <div class="add-client-form">
                        <div>
                            <%= loan_form.label :instalment_amount, "Instalment Amount", class: "client-label"%>
                            <%= loan_form.text_field :instalment_amount, class: "client-input" %>
                        </div>
                    </div>
                    <div class="add-client-form">
                        <div>
                            <%= loan_form.label :loan_duration, "Loan Duration", class: "client-label"%>
                            <%= loan_form.select :loan_duration, [5,7,10] %> 
                        </div>
                    </div>
                    <div class="add-client-form">
                        <div>
                            <%= loan_form.label :due_date, "Due Date", class: "client-label"%>
                            <i class="fa fa-calendar"></i>
                            <%= loan_form.text_field :due_date,class: "date client-input"%>
                            
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
                <%= f.submit "Save", class: "client-btn btn" %> 
            <% end %>
        
    </div>
</div>

